:root {
  --sideGapWidthMin: 20px;
  --sideGapWidthMax: 35px;
}

/*** INDEX ****/
.index-layoutGrid {
  background-color: #fafafa;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns:
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax))
    1fr
    1fr
    1fr
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax));

  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    ". header header header ."
    "lastArticle lastArticle lastArticle lastArticle lastArticle"
    ". allArticles allArticles allArticles ."
    "footer footer footer footer footer";
}

.allArticles-container {
  grid-area: allArticles;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1.625rem;
  grid-row-gap: 2.875rem;
  padding: min(2.125em, max(3.5rem, 5%)) 0;
  justify-content: space-between;
}

/*** About Me ****/

.aboutMe-layoutGrid {
  background-color: #fafafa;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns:
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax))
    1fr
    1fr
    1fr
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax));

  grid-template-rows: auto auto auto auto 1fr auto;

  grid-template-areas:
    ". header header header ."
    ". aboutMe aboutMe aboutMe ."
    ". aboutMe-main aboutMe-main aboutMe-main ."
    "Title Title Title Title Title"
    ". allArticles allArticles allArticles ."
    "footer footer footer footer footer";
}

/*** Article ****/

.article-layoutGrid {
  background-color: #fafafa;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns:
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax))
    1fr
    1fr
    1fr
    minmax(var(--sideGapWidthMin), var(--sideGapWidthMax));

  grid-template-rows: auto auto auto auto 1fr auto;

  grid-template-areas:
    ". header header header ."
    ". articleIntroduction articleIntroduction articleIntroduction ."
    ". description description description ."
    "Title Title Title Title Title"
    ". allArticles allArticles allArticles ."
    "footer footer footer footer footer";
}
